.lbox-linkrow{
	
}
.lbox-linkrow{
	margin:2px 0;
	padding-bottom:1px;
	border-bottom:1px solid #EDEDED;/*#DCDCDC;*/
}
a.icon_edit{
	background:url(../img/edit_ahref.gif) no-repeat;
}
a.icon_delete{
	background:url(../img/del_ahref.gif) no-repeat;
}
a.icon_sharelbx{
	background:url(../img/shr_ahref.gif) no-repeat;
}

.lbox-linkrow:hover{
	background-color:#EDEDED;/*#DCDCDC;*/
}

.lbox-linkrow:hover .row-buttons{
	visibility:visible;
}

.row-check{
	margin-right:5px;
}

.row-buttons a{
	display:inline-block;
	width:16px;
	height:16px;
}
.row-buttons{
	/*display:hide;*/
	visibility:hidden;
	float:right;
	opacity:0.3;
}
.row-buttons:hover{
	opacity:1;
}
.lbox-orderheader{
	padding-top: 2px;
	font: bolder 12px tahoma,verdana,geneva,sans-serif;
}
.lbox-searchheader{
padding-left: 8px;
}
#btn-tablesearch{
margin-left:2px;
padding:2px 8px;
}
#inp-tblsearch{
height:26px;
padding:2px;
width:200px;
}

#link_to_save{
height:26px;
border-color: #FFD700;
}

#link_description{
height:26px;
}

#btn_addLink{
height:28px;
padding:2px 4px;
font-size: 13px;
}

#btn_addLink span:first-child{
	color:#FFD700;
}

#tag_items{
    float: left;
}

.lbox-thinform{
padding:8px;
}

.lbox-folders .list-group-item{
padding: 8px;
}
.pillbox-input-wrap.btn-group.lbox-pill-addmore input{
border-radius:4px;
}
.pillbox-input-wrap.btn-group.lbox-pill-addmore{
height:22px;
margin:2px 0 0 4px;
}
.pillbox-add-item{
padding:1px 12px 2px 12px;
height:22px;
}

.lbx_folders_list_col{
margin-right:-10px;
padding-right:5px;
}
.lbx_main_col{
padding-right:5px;
}
#lbx_formErrors{
	margin: 2px;
}
.emptyControl{
/*display:inline-block;*/
border:2px solid red;
background-color:#EDD3D3;
}
.loginmenu li:not(:first-child){
border-left:1px dotted #525354;
}
img.simpleFav{
	width:24px;
	height:24px;
}

.FLDmenuActive{
	font-size:15px;
	font-weight:bold;
	padding-left:8px;
	border-left:8px solid #800000;
}
.fldHeading.FLDmenuActivePO{
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding-left:12px;
	border-left:12px solid #800080;
	border-radius:5px;
}
.fldHeading{
	padding:0;
}
.fldHeading a{
	padding:10px 15px;
	display:block;
}

/* =============== every page's settings ===================== */
html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body{
margin-top:36px;
}
footer {
  padding: 30px 0;
}
.hided{
	display:none;
}
.hided2{
	visibility:hidden;
}
.table-condensed button {
    padding: 2px 5px;
    font-size: 10px;
	font-weight:bold;
    line-height: 1.1;
    border-radius: 3px;
	margin:-2px 0;
}
.obus_header{
	margin-bottom:20px;
}
.statName_send{
position:relative;
float:right;
width:20%;
}
.clearfix_{
content:"";
display:block;
clear:both;
}
td.inp{
display:none;
}
.hid_inp{
	display:none;
}
.simpleUrl{
	text-decoration: underline;
}
img.simpleFav{
	width:24px;
	height:24px;
}
.ulheader{
	text-decoration:underline;
	font-weight:bold;
}
.btn_folder_span, .span_btn_add{
	width:30%;
	margin-right:10px;
}

.lbxForm_thirdLine{
	margin-top:-8px;
}
.formresult{
	display:none;
}
.form-control.tags-simple{
	height: 26px;

}
#toggleTagsPanel{
	margin:6px 0;
}
.twoColumns{
	width:100%;
	margin:0 auto;
}
.twoColumns label{
	float:left;
	width:10%;
}
.twoColumns input.form-control{
	float:right;
	width:90%;
}
.btn_n_input{
	padding:6px 0;
}
.btn_n_input input.form-control{
	float:left;
	width:84%;
	margin-top:1px;
}
.btn_n_input button.btn{
	float:right;
	width:14%;
	
}
.fldr_n_input span.btn_folder_span, .select_linkFolderAddnew{
	float:left;
	width:14%;
	
}
.fldr_n_input input.form-control{
	float:right;
	width:84%;
	margin-top:1px;
}
.panel-body-menu{
	padding:0;
}
.favtd{
	min-width:24px;
}
#folders_listA .FLDmenuItem a{
	padding-left:4px
}
.aHeaderMenu .badge{
	float:right;
}
.currentFLD{
	padding:2px 8px;
	outline:1px solid gray;
}
#btn_addLink_edit{
	float:right;
	height: 28px;
	padding: 2px 4px;
	font-size: 13px;
	width:14%;
}
#btn_editLink_cancel{
	float:right;
	height: 22px;
	padding: 2px 4px;
	font-size: 12px;
	width:11%;
	margin:0 4px;
}

span.glyphicon-edit{
	color:blue;
}
#lbx_form_editlink input{
	height:24px;
	padding:1px 4px;
}
.editedOKeffect{
	background-color:#06C41A !important;
	outline:1px solid #006000;
}
.editedERReffect{
	background-color:orange !important;
	outline:1px solid red;	
}
.btntagsearch{
	width: 18%;
	float: right;
}
#tagsearch{
	width: 80%;
	height: 26px;
}
.tagSearcgDiv{
	padding-top:0;
}
a.noclick       {
  pointer-events: none;
}
/* ... loading ...
.loading{
 margin: 10% auto;
 border-bottom: 6px solid #fff;
 border-left: 6px solid #fff;
 border-right: 6px solid #c30;
 border-top: 6px solid #c30;
 border-radius: 100%;
 height: 100px;
 width: 100px;
 -webkit-animation: spin .6s infinite linear;
 -moz-animation: spin .6s infinite linear;
 -ms-animation: spin .6s infinite linear;
 -o-animation: spin .6s infinite linear;
 animation: spin .6s infinite linear;
}
*/