#table-header {
padding:0 0 8px;
''margin:0 0 8px;
}
#table-header ul{
list-style: none outside none;
}
#table-header span{
    float: left;
}
#table-header ul li{
    float: left;
    padding: 0 5px;
}
#table-header ul li a{
    border-bottom: 1px dashed #30f;
    color: #777777;
    text-decoration: none;
}
.fadingRow{
	display:none;
	background-color:#ADFF2F !important;
}
td.faviconCol{
	width:32px;
	padding:2px;
}
.lbox-orderheader{
	padding-top: 2px;
	font: bolder 12px tahoma,verdana,geneva,sans-serif;
}
.lbox-searchheader{
padding-left: 8px;
}
#btn-tablesearch{
margin-left:2px;
padding:2px 8px;
}
#inp-tblsearch{
height:26px;
padding:2px;
width:200px;
}


.navbar-right{
margin-right:0px;
}
.navbar { min-height:34px;   }
.navbar .navbar-brand{ padding: 0 12px;font-size: 18px;line-height: 34px;height: 34px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 34px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
.navbar .navbar-collapse {border-color: #A40303;}
h2 {width:50%;}

label.valid {
	/*width: 24px;
	height: 24px;
	background: url(img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
	*/
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
/* index */

@media (max-width: 991px) {
    .container-smooth-sm {
        width: auto;
        max-width: none;
    }
}

uu{
position:fixed;
top:36px;
right:2px;
}

#sidebar .btn-group > .btn{
    border-radius: 4px !important;
	margin: 1px;
}
#sidebar .btn.btn-info.active > .badge{
	background-color:#D8BFD8;
}

.btns{
	width:60px;
}
.datetime{
	font-size:12px;
}