.lbox-linkrow{
	
}
.lbox-linkrow{
	margin:2px 0;
	padding-bottom:1px;
	border-bottom:1px solid #EDEDED;/*#DCDCDC;*/
}
a.icon_edit{
	background:url(../img/edit_ahref.gif) no-repeat;
}
a.icon_delete{
	background:url(../img/del_ahref.gif) no-repeat;
}
a.icon_sharelbx{
	background:url(../img/shr_ahref.gif) no-repeat;
}

.lbox-linkrow:hover{
	background-color:#EDEDED;/*#DCDCDC;*/
}

.lbox-linkrow:hover .row-buttons{
	visibility:visible;
}

.row-check{
	margin-right:5px;
}

.row-buttons a{
	display:inline-block;
	width:16px;
	height:16px;
}
.row-buttons{
	/*display:hide;*/
	visibility:hidden;
	float:right;
	opacity:0.3;
}
.row-buttons:hover{
	opacity:1;
}
#table-header {
padding:0 0 8px;
''margin:0 0 8px;
}
#table-header ul{
list-style: none outside none;
}
#table-header span{
    float: left;
}
#table-header ul li{
    float: left;
    padding: 0 5px;
}
#table-header ul li a{
    border-bottom: 1px dashed #30f;
    color: #777777;
    text-decoration: none;
}
.fadingRow{
	display:none;
	background-color:#ADFF2F !important;
}
td.faviconCol{
	width:32px;
	padding:2px;
}
.lbox-orderheader{
	padding-top: 2px;
	font: bolder 12px tahoma,verdana,geneva,sans-serif;
}
.lbox-searchheader{
padding-left: 8px;
}
#btn-tablesearch{
margin-left:2px;
padding:2px 8px;
}
#inp-tblsearch{
height:26px;
padding:2px;
width:200px;
}

#link_to_save{
height:26px;
padding:2px;
width:234px;
border-color: #FFD700;
}

#link_description{
height:23px;
padding:2px;
width:200px;
}

#btn_addLink{
height:28px;
padding:2px 4px;
font-size: 13px;
}

#btn_addLink span:first-child{
	color:#FFD700;
}

#tag_items{
    float: left;
}

.lbox-thinform{
padding:8px;
}

.lbox-folders .list-group-item{
padding: 8px;
}
.pillbox-input-wrap.btn-group.lbox-pill-addmore input{
border-radius:4px;
}
.pillbox-input-wrap.btn-group.lbox-pill-addmore{
height:22px;
margin:2px 0 0 4px;
}
.pillbox-add-item{
padding:1px 12px 2px 12px;
height:22px;
}

.lbx_folders_list_col{
margin-right:-10px;
padding-right:5px;
}
.lbx_main_col{
padding-right:5px;
}
#lbx_formErrors{
	margin: 2px;
}
.emptyControl{
/*display:inline-block;*/
/*border:2px solid red;*/
background-color:#EDD3D3;
}
.loginmenu li:not(:first-child){
border-left:1px dotted #525354;
}
img.simpleFav{
	width:24px;
	height:24px;
}

.FLDmenuActive{
	font-size:15px;
	font-weight:bold;
	padding-left:8px;
	border-left:8px solid #800000;
}
.fldHeading.FLDmenuActivePO{
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding-left:12px;
	border-left:12px solid #800080;
	border-radius:5px;
}
.fldHeading{
	padding:0;
}
.fldHeading a{
	padding:10px 15px;
	display:block;
}
body{
margin-top:36px;
}
.hided{
	display:none;
}
.hided2{
	visibility:hidden;
}
.table-condensed button {
    padding: 2px 5px;
    font-size: 10px;
	font-weight:bold;
    line-height: 1.1;
    border-radius: 3px;
	margin:-2px 0;
}
.obus_header{
	margin-bottom:20px;
}
.statName_send{
position:relative;
float:right;
width:20%;
}
.clearfix{
content:"";
display:block;
clear:both;
}
td.inp{
display:none;
}
.hid_inp{
	display:none;
}
.simpleUrl{
	text-decoration: underline;
}
img.simpleFav{
	width:24px;
	height:24px;
}
.ulheader{
	text-decoration:underline;
	font-weight:bold;
}
.btn_folder_span, .span_btn_add{
	width:30%;
	margin-right:10px;
}
#link_to_save, #link_description{
	width:83%;
}
.lbxForm_thirdLine{
	margin-top:-8px;
}
.formresult{
	display:none;
}
/* ... loading ...
.loading{
 margin: 10% auto;
 border-bottom: 6px solid #fff;
 border-left: 6px solid #fff;
 border-right: 6px solid #c30;
 border-top: 6px solid #c30;
 border-radius: 100%;
 height: 100px;
 width: 100px;
 -webkit-animation: spin .6s infinite linear;
 -moz-animation: spin .6s infinite linear;
 -ms-animation: spin .6s infinite linear;
 -o-animation: spin .6s infinite linear;
 animation: spin .6s infinite linear;
}
*/