@import url("common.css");
#form_registering {
    padding:0;
    position: absolute;
    left: 30%;
    top: 40%;
    width: 40%;
    /*width: 420px;*/
	/*height: 250px;*/
}
.msgbox{
	background-color:#FFC0CB;
	border: medium none;
    margin:auto;
	width: 50%;
	height: 100px;	
	border-radius: 8px;
	padding:5px;
}
#messages{
	/*visibility:hidden;*/
	display:none;
}